@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family:  'Oswald', sans-serif;
    font-size: 2.5em;
    margin-right: 1em;
}

h2 {
    font-size: 2.5em;
    padding: 2em 0;
    color: #fdcb6e;
}

h3 {
    font-size: 2em;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8em;
    padding: 1em 0;
}

header {
    text-align: right;
    padding: 12em 0;
    margin: 0 auto;
    background-image: url("https://tr3.cbsistatic.com/hub/i/r/2017/10/31/af72d5e4-2f4c-48b5-954c-e4fa24fb0a97/resize/1200x/9f5c03620b98aa0a8d1a3caedded38fe/git-logo.jpg");
    word-wrap: break-word;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
}

nav h3 {
    display: none;
    /* Made this bcs FCC forced me to place a heading tag in my nav-bar but i don't need to */
}

nav ul, nav li {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
}

nav a {
    background-color: #fff;
    border-radius: 0.5em;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 5em 0;
}

.container i {
    text-align: center;
    padding-left: 1em;
    word-wrap: break-word;
}

ul, li, a {
    text-decoration: none;
    list-style-type: decimal;
    color: #574b90;
    padding: 0.7em;
    font-size: 1.2em;
}
 
li:hover {
    text-decoration: underline;
}

button {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    padding: 2em;
    cursor: pointer;
}

#about-me img {
    border-radius: 50%;
    height: 15em;
    width: 14em;
    padding-right: 1em;
}

@media only screen and (max-width: 600px) {
    section {
        font-size: 0.7em;
    }

    nav a {
        font-size: 1em;
    }

    header {
        font-size: 0.7em;
        word-wrap: break-word;
        padding: 4.9em;
        font-weight: 700;
        font-style: italic;
        text-align: center;
    }

    header h1 {
        margin-bottom: 2.5em;
    }

    nav {
       right: 5em;
    }
}




